

/* Reset */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  overflow-x: hidden; 
}

/* Page wrapper */
.login-page {
  min-height: 100vh;
  width: 100vw;
  background-color: white;
  position: relative;
}

/* Top Bar */
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: #18A0FB;
  box-shadow: 0 8px 16px rgba(0,0,0,0.4);
  display: flex;
  justify-content: space-between;   
  align-items: center;
  padding: 0 2rem;             
  z-index: 1000;
  box-sizing: border-box;
}

/* Register button on top bar */
.register-button {
  border-radius: 8px;
  padding: 0.8rem 1.2rem;      
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.register-button:hover {
  background-color: #333;       
}


/* App dev logo on top bar */
.logo-photo {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 8px;
}

/* Back arrow */
.back-arrow-button {
  position: fixed;         
  top: 100px;               
  left: 20px;              
  height: 60px;            
  width: 60px;
  cursor: pointer;
  z-index: 1001;           
}


/* Login-in block where user's put in their information */
.login-in-block {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 80%;
  max-width: 550px;
  min-width: 300px;
  aspect-ratio: 11 / 7; 
  max-height: 275px;

  background-color: #18A0FB;
  box-shadow: 0 8px 16px rgba(0,0,0,0.4);
  border-radius: 12px;

  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;      
  gap: 1.5rem;                 
  color: white;

}

/* Input Groups such as username and password */
.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  width: 100%;
  gap: 0.6rem;             
}

/* Password and username labels */
.input-group label {
  font-weight: bold;
  color: white;
}

/* Password and username input boxes */
.input-group input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  box-sizing: border-box;
}

/* Placeholder color */
.input-group input::placeholder {
  color: #999;
}

/* Sign In Button */
.sign-in-btn {
  width: 100%;
  padding: 0.8rem;
  border-radius: 8px;
  border: none;
  background-color: #0f4ea2;  /* dark blue */
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sign-in-btn:hover {
  background-color: #0c3a7a;
}

/* Sign in block header above main block */
.sign-in-block {
  position: fixed;               
  top: 20%;                      
  left: 50%;
  transform: translateX(-50%);  

  width: 25%;
  max-width: 160px;
  min-width: 80px;
  height: 60px;

  background-color: #18A0FB;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.4);

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Title Hero', sans-serif;
  text-align: center;
  color: white;
  z-index: 1001;                

}

