html, body {
margin: 0;
padding: 0;
width: 100%;
background-color: white;
overflow-x: hidden;
}

/* Page wrapper */
.profile-page {
display: block;
position: relative;
padding-top: 75px;
}



/* Top Bar */
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: #18A0FB;
  box-shadow: 0 8px 16px rgba(0,0,0,0.4);
  display: flex;
  justify-content: space-between;   /* push content to right */
  align-items: center;
  padding: 0 2rem;             /* space from edges */
  z-index: 1000;
  box-sizing: border-box;
}

.button-group {
  display: flex;
  gap: 1rem;           /* spacing between buttons */
  align-items: center;
  min-width: 120px;
  text-align: center;

}

.task-button {
  border-radius: 8px;
  padding: 0.8rem 1.2rem;      /* height + horizontal space */
  background-color: white;
  color:black;
  
  font-weight: bold;
  border: none;
  cursor: pointer;

}

.task-button:hover {
  background-color: #e6e6e6; /* light gray */
}

.catalog-button {
  border-radius: 8px;
  padding: 0.8rem 1.2rem;      /* height + horizontal space */
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.catalog-button:hover {
  background-color: #333;       /* slightly lighter on hover */
}
.logo-photo {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 8px;
}
